body{
    height: 700px;
}
.heading{
    margin-top: 0px;
    width: 100%;
    font-size: 24px;
}
.copyright_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: blue;
    line-height: 2.5;
    z-index: 12;
}
canvas{
    border: 2px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white ;
    margin-top: 50px;
    
}